/*
*Fallon Grace
*May 7th,2018
*Box Model
*/


h1 { padding-top: 1em;
padding-right: 1em;
padding-bottom: 1em;
padding-left: 1em;
border-style: dashed;
margin: 1em;
}

p  { padding-top: 1em;
padding-right: 1em;
padding-bottom: 1em;
padding-left: 1em;
border-style: dashed;
margin: 1em;
}

main { border-style: solid;
	margin: 2em;
}

body { border-style: dashed;
	margin: 2em;
}
