/*
*Fallon Grace
*March 28th,2018
*CSS
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { 
	background-color: lightblue;
	color: black;
	font-family: Helvetica, "Times New Roman", sans-serif;
	

}
h1 { 
	font-size: 230%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: overline; 
	background-color: DarkCyan
}

p { color: rgb(73,22,45);
	background-color: white}

img{ float:right; }

.good-images{ clear: right; }
